<div class="container mt-5" style="text-align:center">

  <div class="title">
    <h1>
      URL Shortener
    </h1>
  </div>
  <div class="pic">
    <span class="text-info" style="font-size: 100px;">
      <i class="fas fa-link"></i>
    </span>
  </div>

  <form>
    <div class="form-row mt-3" id="input">
      <div class="col-auto">
        <input type="text" name="originalURL" class="form-control" placeholder="Enter original URL here..."
          aria-label="original URL..." aria-describedby="inputURL" value={{keyword}}>
      </div>
    </div>
  </form>

  <div class="confirm mt-3">
    <button class="btn btn-outline-danger btn-lg" type="submit" id="confirm-button">Shorten</button>
  </div>
</div>