<div class="container mt-5" style="text-align:center">

  <div class="title">
    <h1>
      URL Shortener
    </h1>
  </div>
  <div class="pic">
    <span class="text-info" style="font-size: 100px;">
      <i class="fas fa-link"></i>
    </span>
  </div>

  <div class="success">
    <span class="text-dark" style="font-size: 20px;">Success！ Please use this link</span>
    <div class="shortenURL">

    </div>
  </div>

  <div class=" confirm mt-3">
    <button class="btn btn-danger btn-lg" type="submit" id="confirm-button">Copy</button>
  </div>
</div>